html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas{
	height:600px;
	width:75%;
	float: right;
}

#map-canvas img{
	max-width: none;
}

#sidebar{
	width: 25%;
	position: fixed;
	height: 100%;
	background: #000;
}
